
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color:#34da0a; /*color de fondo*/
    color:black; /*color del texto*/
    font-family:'Roboto',sans-serif;
}

main {
    min-height: 100vh;
}

ul{
    list-style: none;
}

h1 {
    color:white;
    text-align: center;
}

.cabecera {
    background-color: #c5da0a;  
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    
    
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}  

.titulo__web  {
    text-decoration: none;
    width: 70%;  
}

.contenedor {     
    margin: 0 auto;           
    /*propiedades que luego vamos a ver en detalle en una clase*/   
    display: flex;   
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 92px;
    height: 92px; 
}

.navegacion {
    min-width: 50%;
}

.navegacion__lista {
    /*propiedades que luego vamos a ver en detalle en una clase*/   
    display: flex;   
    justify-content: space-evenly;
    align-items: center;
}

.navegacion__enlace {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: all 1s;
}

.navegacion__enlace:hover {
    color:black;
}

/*hero*/

.hero {
    background-color:orange;
    height: 600px;
    width: 100%;
    background-image:url(../imagenes/anana-3d.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* text-align: center; /*ajustamos el texto como cuando estamos en word*/
    /*propiedades que luego vamos a ver en detalle en una clase*/   
    display: flex;   
    justify-content: flex-start;
    align-items: flex-end;  
}

.titulo-principal {
    color:white;
    background-color:#34da0a;  
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    border: 2px solid rgb(189, 252, 42);
    font-size: 40px;
}

/*main-section*/

.main-seccion {
    background-color: yellow;
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 32px;
    padding-right: 32px;
}

.main-seccion .contenedor {
    margin: 0 auto;           
    /*propiedades que luego vamos a ver en detalle en una clase*/   
    display: flex;   
    justify-content: space-between;
    align-items: center;
}

.contenido {
    width: 50%;
}

.contenido1 {
    width: 50%;
    padding: 20px;
}

.banner1 {
    display: block;
    max-width: 100%;
}


/*banner video*/

.banner_video {
    background-color: yellow;
    position: relative;
    height: 600px;
}

.banner_video_titulo_creaciones {
    font-size: 48px;
    text-align: center;
              

    position:absolute;
    bottom:0;
    z-index: 10;
    background-color: yellow;
    color:black;
    width:100%;
    opacity: 0.7;
    /* filter: blur(2px);  */ 
}

.banner_video_promocional {
    width: 50%; 
    height:100%;
    object-fit: cover;   
        
    position:absolute; /* el elemento pierde su ancho por defecto que es 100 % */
    right: 0;
}

.parrafobanner1{
    font-weight: 100;
    margin-bottom: 32px ;/*separar elementos uso margin*/
    color:black;
}
.boton{
    display: inline-block;
    background-color:orange;
    text-decoration: none;
    color:black;
    padding:10px 20px ;
    border-radius: 20px;
    font-weight: 900;       
}
.titulobanner1 {
    font-size: 48px;
    color:black;
    margin-bottom: 32px;
}
/*Parrafo*/
.Creaciones_Artesanles{
    text-align:center;
}
.parrafo_subtitulo {
    padding: 12px;
    text-align: center;
    text-transform: uppercase;
}       
.parrafo {
    color: rgb(252, 121, 14);
    padding: 12px;
    text-align: right;
} 

/* nuestros productos */

.nuestros-productos {
    padding: 64px 0;
}

.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    text-align: center;
}

.producto {
    box-shadow: 0 0 5px rgb(0,0, 0,4);
    background-color: yellow;
    padding:16px;
    width: 100%;
    max-width: 300px;  
}

.producto__titulo {
    font-size: 24px;
    margin:16px 0;
    color:black;
    text-align: center;
}


.producto__icono{
    font-size: 50px;
    background-color:#c5da0a;
    color:black;
    border-radius: 50%;
    padding:10px;
    display: inline-block;
    margin-bottom: 20px;
    text-decoration:center
}

.producto img {
    max-height: 200px;
    object-fit: cover;
}

.belleza {
    width: 100%;
         
}
.textiles
{
    width: 100%;      
}
.hogar {
    width: 100%;
}
.aromaterapia {
    width: 100%;
}



/*Formato de estilos para Titulos y Subtitulos*/
.formulario {
    background-color:orange;
    color:black;
    padding: 64px 0;

}

.formulario__subtitulo {
    color:black;
    padding: 12px;
    text-align: center;
}

.form {
    max-width: 500px;
    
    margin-left: auto;
    padding: 16px;
}

.form div {
    display: flex;
    flex-direction: column;
}

/*Formulario de Contacto*/


/*footer*/
.footer {
    background-color:#34da0a;
    color: black;
    padding:32px 16px;
}

.footer_flex-padre{
    display: flex;
    flex-direction: column;    
    background-color:yellow;
    color:black;
    text-align:center;   
}  

.footer_enlace {
    color: black;
    text-align: center;
    padding: 20px 18px;   
}   

/*        .Contactos_Generales*/
.email {
    text-align-last: center;
    justify-content: space-between;
    padding:16px;
}
.email_icono {
    background-color:orange;
    color:black;
    font-size: 20px;
}
.redes {
    color:black;
    padding:12px;
    text-align-last: left;
}
.redes__sociales {
    color:black;
    margin-bottom: 0px;
    text-align: center;
}
.instagram_icono{
    background-color: orange;
    color:black;
}
.facebook_icono{
    background-color:orange;
    color:black;
}
.contacto_email {
    color:black;
    margin-bottom: 0px;
    text-align: center;
}
.titulo__proyecto{
    color:black;
    margin-bottom: 20px;
}
.parrafo_autor {
    color:black;
    text-align: center;
}
.whatsapp__icono {
    position: fixed;
    bottom: 32px;
    right: 32px;
    z-index: 1000;
    display: inline-block;
    font-size: 50px;
    background-color:#c5da0a;
    color:black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 30px;
    margin:0% ;
    padding: 0%;
    box-sizing: border-box; 
    box-shadow: 10px 10px 5px green;
}
.fijar__img {
    width:200px;
    height:200px;  
}
.listado-productos{
    width: 100%;
    text-align: center;
}
.producto-2__imagen{
    width: 100%;
}
.producto-2__parrafo{
    font-weight: 100;
    margin-bottom: 20px;
    color: black;
}
.precio_agua-micelar{
    color:black;/*color del texto*/
    font-family:'Roboto',sans-serif;
}
.precio_velas{
    color:black; /*color del texto*/
    font-family:'Roboto',sans-serif;
}
.precio_home-spray{
    color:black; /*color del texto*/
    font-family:'Roboto',sans-serif;
}
.productos{
    padding-top: 64px;
    padding-bottom: 64px;
}
.listado-productos, .formulario__titulo{
    font-size: 40px;
    font-style:initial;
    text-align: left;
    margin-bottom: 32px;
}
.galeria, .formulario{
    padding-top: 64px;
    padding-bottom: 64px;
}
.galeria__titulo{
    font-size: 40px;
    font-style: initial;
    text-align: center;
    margin-bottom: 32px;
}
.mapa{
    width: 100%;
    height: 100%;
}


/*Medias Querys*/
@media (max-width: 768px) {
    h1 {
        font-size: 25px;
    }
    .logo {
        width: 60px;
        height: 60px;
    }
    
    .titulo-principal {
        font-size: 20px;
        width: 100%;
    }

    .main-seccion {
        padding-left: 0;
        padding-right: 0;
    }

    .main-seccion .contenedor {
        flex-direction: column;
    }

    .main-seccion .contenido1 {
        width: 100%;
    }

    .main-seccion .contenido {
        width: 100%;
    }

    .banner_video_promocional {
        width: 100%;
    }
    .banner_video{
        object-fit: contain;
    }
}

