
        /* codigo CSS */
         /*
         sintaxis
         selector {
         propiedad1: valor;
         propiedad2: valor;
         propiedadN: valorN;
         }
         tipos de selectores
         etiqueta -> cualquier elemento html que conocemos y selecciona todo aquel que coincida.
         clase -> tenemos que utilizar en html un atributo llamado class
         ID-> se refiere a un identificador unico que nunca se debe repetir.
         * selecciona todos los elementos de html
         */
            /* reseteos de estilos por defectos aplicados por el navegador*/
*{
        margin:0;
        padding:0;
        box-sizing: border-box;
}
body {
        background-color: rgb(143, 235, 23); /*color de fondo*/
        color:rgb(9, 66, 4); /*color del texto*/
        font-family:'Roboto',sans-serif;
}
.precio_jabon{
        color:rgb(9, 66, 4); /*color del texto*/
        font-family:'Roboto',sans-serif;
}
.precio_agua_de_rosas{
        color:rgb(9, 66, 4); /*color del texto*/
        font-family:'Roboto',sans-serif;
}
ul{
        list-style: none;
}
.cabecera {
        background-color: #323232;  
        padding-top: 16px;
        padding-bottom: 16px;
        width: 100%;
        box-shadow:0 2px 6px rgb(233, 250, 0);
}  

.titulo__web  {
        text-decoration: none;
}

.contenedor {     
        margin: 0 auto;           
/*propiedades que luego vamos a ver en detalle en una clase*/   
        display: flex;   
        justify-content: space-between;
        align-items: center;
}
.logo {
        width: 92px;
        height: 92px; 
}
.navegacion {
        min-width: 50%;
}
.navegacion__lista {
/*propiedades que luego vamos a ver en detalle en una clase*/   
        display: flex;   
        justify-content: space-between;
        align-items: center;
}
.navegacion__enlace {
        color: white;
        text-decoration: none;
        font-size: 20px;
}
/*hero*/

.hero {
        background-color:rgb(143, 235, 23);
        height: 600px;
        width: 100%;
        background-image: url(../imagenes/anana\ 3d.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
       /* text-align: center; /*ajustamos el texto como cuando estamos en word*/
      /*propiedades que luego vamos a ver en detalle en una clase*/   
        display: flex;   
        justify-content: flex-start;
        align-items: flex-end;  
}
.titulo-principal {
        color:white;
        background-color: tomato;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 16px;
        padding-right: 16px;
        border: 2px solid rgb(189, 252, 42);
        font-size: 40px;
}
/*main-section*/
.main-section {
background-color: yellow;
padding-top: 64%;
padding-bottom: 64px;
padding-left: 32px;
padding-right: 32px;
}
.contenido{
        width: 50%;
}

.contenido1{
        width: 50%;
        padding: 20px;
}

.banner1{
        display: block;
        max-width: 100%;
}
.video__promocional {
        background-color: chocolate;
        width: 100%; 
        height: 600px;
        object-fit: cover;      
}
.belleza {
        width: 550px;
        height: 600px;
}
.textiles
{
        width: 550px;
        height: 600px;
}
.hogar {
        width: 600px;
        height: 400px;
}
.aromaterapia {
        width: 550px;
        height: 600px;
}
.parrafobanner1{
        font-weight: 100;
        margin-bottom: 32px ;/*separar elementos uso margin*/
        color:white
}
.boton{
        display: inline-block;
        background-color:rgb(233, 250, 0);
        text-decoration: none;
        color:saddlebrown;
        padding:10px 20px ;
        border-radius: 20px;
        font-weight: 900;       
}
.titulobanner1 {
        font-size: 48px;
        color:white;
        margin-bottom: 32px;
}
a{
        color:chocolate;
}
h2{ 
        color: rgb(233, 250, 0);
        padding:12px;
        text-align: center  
}
.subtitulos {
        background-color: rgb(233, 250, 0);
        color:black;
        padding: 12px;
        margin: 12px;
        text-align: center                
}
.subtitulo__formulario {
        color:black ;
        padding: 12px;
        text-align-last: left;
}
.formulario {
        background-color: #F0B622;
        color:black;
        padding:12px;
        text-align-last: left;
}
.tienda_online{
        padding:12px;
        text-align-last: right;
}

.Creaciones_Artesanles{
        text-align:center;
}

.subtitulo_creaciones {
        background-color: yellow;
        color:black;
        margin-bottom: 20px;     
        padding: 32px ;
        text-align: center;
}
.parrafo_subtitulo {
        padding: 12px;
        text-align: center;
        text-transform: uppercase;
}       
.parrafo {
        color: rgb(252, 121, 14);
        padding: 12px;
        text-align: right;
} 
/*nuestros productos*/
.Cosmetica {
        color:rgb(233, 250, 0);
        padding: 32px,64px               
}
.productos__titulo{
        text-align: right;
        font-size: 48px;
        color: orangered;
        margin-bottom: 64px;
}
.producto__titulo {
        font-size: 24px;
        margin:16px 0;
        color:black
}
.Nuestros_Productos{
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        text-align: center;
}
.producto{
        box-shadow: 0 0 5px rgb(0,0, 0,4);
        background-color: yellow;
        padding:16px;
        width: 100%;
        max-width: 300px;  
}
.producto__icono{
        font-size: 50px;
        background-color: lightgoldenrodyellow;
        color:black;
        border-radius: 50%;
        padding:10px;
        display: inline-block;
}
#tituloprincipal {
        font-size: 50px;
        color:saddlebrown 
        blanchedalmond
}
.luffa{
        width: 550px;
        height: 600px;
}
.agua_jabon {
        width: 550px;
        height: 600px;  
}
/*footer*/
.footer {
        background-color:rgb(212, 245, 26);
        color: black;
        padding:32px 16px;
}
.footer_flex-padre{
        display: flex;
        flex-direction: row;    
        padding-bottom: 64px;   
}           
.footer_enlace {
        color: black;
        margin-top:20px;
        margin: bottom 20px;
        text-align: center;
        padding: 10px 20px;      
}
.contactos {
        display: flex;
        justify-content: space-between;
}
.email {
        padding:16px;
        text-align-last: left;
        justify-content: space-between;
}
.email_icono {
        background-color:orange;
        color:black;
        font-size: 20px;
}
.redes {
        color:black;
        padding:12px;
        text-align-last: left;
}
.redes__sociales {
        color:black;
        margin-bottom: 20px;
        text-align: center;
}
.instagram_icono{
        background-color: orange;
        color:black;
}
.facebook_icono{
        background-color:orange;
        color:black;
}

.contacto_email {
        color:black;
        margin-bottom: 20px;
        text-align: center;
}
.titulo__proyecto{
        color:green;
        margin-bottom: 20px;
}
.tienda_online {
        color:rgb(252, 121, 14);
}
.parrafo_autor {
        color:rgb(9, 66, 4);
        text-align: center;
}
.whatsapp__icono {
        position: fixed;
        bottom: 32px;
        right: 32px;
        z-index: 1000;
        display: inline-block;
        font-size: 50px;
        background-color: rgb(36, 192, 22);
        color:black;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 30px;
        margin:0% ;
        padding: 0%;
        box-sizing: border-box; 
        box-shadow: 10px 10px 5px green;
}
.fijar__img {
        width:200px;
        height:200px;  
}